#!/usr/bin/env xdg-open

[Desktop Entry]
Version=2.0
Type=Application
Terminal=true
Icon[en_US]=squid
Name[en_US]=MooseSquidAxon
Exec=python /usr/share/moose/Demos/squid/squid_demo.py
Name=MooseSquidAxon
Icon=squid
Comment=MOOSE Demo: H-H Squid Axon
Categories=Education;Science;Biology;Math
