Source: moose
Section: science
Priority: optional
Maintainer: Dilawar Singh <dilawars@ncbs.res.in>
Build-Depends: debhelper (>= 8.0.0), cdbs, devscripts, libgsl0-dev (>= 1.16), cmake, libhdf5-dev, python-dev, python-numpy, python-setuptools, libopenmpi-dev
Standards-Version: 3.9.4
Homepage: http://moose.ncbs.res.in

Package: moose
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libhdf5-7, gsl-bin
Suggests: libsbml5
Description: Neural simulator.
  To be continued.
