[Desktop Entry]
Name=MOOSE
GenericName=MOOSE
Exec=moosegui
Type=Application
Version=3.0
Icon=moose.png
Categories=Education;Biology;Science;Neuroscience;
