<!-- Write your simulation specific settings here. -->
<moose elec_path='/cells' simulate='true' runtime="0.6" save_path='./figs'>
    <global sim_dt="10e-6" plot_dt="10e-6" sim_method="hsolve" />

    <!-- This setup recording settings for soma. Each type of element should
        be contained in <element> </element> tag. In nutshell, we write the group
        of variable first then we write its individual details.
    -->
    <element type="soma" population="Gran" cell_group="Granule_98" instance_id="0">
        <record type="table" single_plot="true">
            <!--
                 We should be able to form the following from this XML.
                 somaVm = moose.setupTable(
                        'somaVm'
                        , moose.Compartment(parentPath+'/'+path)
                        , 'Vm'
                     )
                prefixed_by_element, if not specified, will be treated as true.
            -->
            <variable name="Vm">
                <target_in_simulator type="Compartment" path="Soma(0)"
                     prefixed_by_element="true" />
                 <plot plot="true" output="figs/soma_vm.eps" plot_args="">
                    <!-- If star, step and stop are not given, use globals -->
                    <x unit="time" start="0.0" step="10e-6" stop="0.6" />
                    <label x="Time" y="Soma Vm (V)" />
                </plot>
            </variable>
            <variable name="Ca">
                <target_in_simulator type="CaConc"  path="Soma(0)/Gran_CaPool_98" />
                <plot output="figs/soma_ca.eps" plot_args=''>
                </plot>
                   
            </variable>
            <variable name="Gk">
                <target_in_simulator type="HHChannel" path="Soma(0)/Gran_KCa_98" />
                <plot output="figs/soma_ics.eps">
                    <label x="Time" y="KCa current" title="Soma KCA current" />
                </plot>
            </variable>
        </record>
    </element>
</moose>
