name: C/C++ CI

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v2
    - name: Install dependencies
      run: |
        sudo apt update
        sudo apt install libgsl-dev g++ cmake python3-dev python3-numpy
    - name: configure
      run: mkdir -p build && cd build && cmake ..
    - name: make
      run: cd build && make
    - name: Test
      run: cd build && ctest --output-on-failure 
